:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

mat-horizontal-stepper {
  height: 100%;
}

.stepper-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.general-actions{
}

